<a href="https://colab.research.google.com/github/sartaj-sb/Tensors/blob/main/Python_Classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Class and instances

Python classes are a fundamental feature of object-oriented programming (OOP) that allow you to define custom data types and structures. They serve as blueprints for creating objects, which are instances of a class.

method is a function that is associated with a class

a class is a bluprint for creating instances

 While "object" is a more general term that encompasses all data structures and instances in Python, "instance" is often used to refer specifically to objects created from user-defined classes.

In [ ]:
class Employee:

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay

    def fullname(self):
        return '{} {}'.format(self.first, self.last)

emp_1 = Employee('Corey', 'Schafer', 50000) #instance
emp_2 = Employee('Test', 'Employee', 60000) #instance

In [ ]:
print(emp_1.first)

Corey

In [ ]:
print(emp_1.fullname())

Corey Schafer

In [ ]:
Employee.fullname(emp_1)

'Corey Schafer'

In [ ]:
print(emp_2.fullname())

Test Employee

## Class Variables

class varible are variables that are shared among all instances of a class. They are defined withim the class but outside of any methods.

In [2]:
class Employee:

    num_of_emps = 0 #class variable
    raise_amt = 1.04 #class variable

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay

        Employee.num_of_emps += 1

    def fullname(self):
        return '{} {}'.format(self.first, self.last)

    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amt)

In [3]:
emp_1 = Employee('Corey', 'Schafer', 50000)
emp_2 = Employee('Test', 'Employee', 60000)

In [14]:
print(Employee.raise_amt)
print(emp_1.raise_amt)
print(emp_2.raise_amt)

1.04
1.05
1.04

In [10]:
emp_1.raise_amt = 1.05
print(emp_1.__dict__)

{'first': 'Corey', 'last': 'Schafer', 'email': 'Corey.Schafer@email.com', 'pay': 50000, 'rasie_amount': 1.05, 'rasie_amt': 1.05, 'raise_amt': 1.05}

In [12]:
print(Employee.num_of_emps)

2

In [ ]:

class Employee:

    num_of_emps = 0
    raise_amt = 1.04

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay

        Employee.num_of_emps += 1

    def fullname(self):
        return '{} {}'.format(self.first, self.last)

    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amt)

    @classmethod
    def set_raise_amt(cls, amount):
        cls.raise_amt = amount

    @classmethod
    def from_string(cls, emp_str):
        first, last, pay = emp_str.split('-')
        return cls(first, last, pay)

    @staticmethod
    def is_workday(day):
        if day.weekday() == 5 or day.weekday() == 6:
            return False
        return True


emp_1 = Employee('Corey', 'Schafer', 50000)
emp_2 = Employee('Test', 'Employee', 60000)

Employee.set_raise_amt(1.05)

print(Employee.raise_amt)
print(emp_1.raise_amt)
print(emp_2.raise_amt)

emp_str_1 = 'John-Doe-70000'
emp_str_2 = 'Steve-Smith-30000'
emp_str_3 = 'Jane-Doe-90000'

first, last, pay = emp_str_1.split('-')

#new_emp_1 = Employee(first, last, pay)
new_emp_1 = Employee.from_string(emp_str_1)

print(new_emp_1.email)
print(new_emp_1.pay)

import datetime
my_date = datetime.date(2016, 7, 11)

print(Employee.is_workday(my_date))

## Regular methods, Class methods and Static methods

regular methods: self <br>
class method: cls <br>
static methods

In [15]:
class Employee:

    num_of_emps = 0
    raise_amt = 1.04

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay

        Employee.num_of_emps += 1

    def fullname(self):
        return '{} {}'.format(self.first, self.last)

    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amt)

    @classmethod
    def set_raise_amt(cls, amount):
        cls.raise_amt = amount

    @classmethod
    def from_string(cls, emp_str):
        first, last, pay = emp_str.split('-')
        return cls(first, last, pay)

    @staticmethod
    def is_workday(day):
        if day.weekday() == 5 or day.weekday() == 6:
            return False
        return True

In [3]:
emp_1 = Employee('Corey', 'Schafer', 50000)
emp_2 = Employee('Test', 'Employee', 60000)

In [4]:
Employee.set_raise_amt(1.05) # class method

In [5]:
print(Employee.raise_amt)
print(emp_1.raise_amt)
print(emp_2.raise_amt)

1.05
1.05
1.05

In [6]:
emp_str_1 = 'John-Doe-70000'
emp_str_2 = 'Steve-Smith-30000'
emp_str_3 = 'Jane-Doe-90000'

In [7]:
first, last, pay = emp_str_1.split('-')
new_emp_1 = Employee(first, last, pay)

In [8]:
print(new_emp_1.__dict__)

{'first': 'John', 'last': 'Doe', 'email': 'John.Doe@email.com', 'pay': '70000'}

In [9]:
new_emp_1 = Employee.from_string(emp_str_1)

In [10]:
import datetime
my_date = datetime.date(2016,7,10)

In [14]:
print(Employee.is_workday(my_date))

False

## Inheritance - Creating Subclasses

In [38]:
class Employee:

    num_of_emps = 0
    raise_amt = 1.04

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay

        Employee.num_of_emps += 1

    def fullname(self):
        return '{} {}'.format(self.first, self.last)

    def apply_raise(self):
        self.pay = int(self.pay * self.raise_amt)

class Developer(Employee):
    raise_amt = 1.10

    def __init__(self, first, last, pay, prog_lang):
        super().__init__(first, last, pay)
        self.prog_lang = prog_lang

class Manager(Employee):

    def __init__(self, first, last, pay, employees=None):
        super().__init__(first, last, pay)
        if employees is None:
            self.employees = []
        else:
            self.employees = employees

    def add_emp(self, emp):
        if emp not in self.employees:
            self.employees.append(emp)

    def remove_emp(self, emp):
        if emp in self.employees:
            self.employees.remove(emp)

    def print_emps(self):
        for emp in self.employees:
            print('-->', emp.fullname())

In [35]:
dev_1 = Developer('Corey', 'Schafer', 50000, 'Python')
dev_2 = Developer('Test', 'Employee', 60000, 'Java')

In [33]:
#dev_1 = Employee('Corey', 'Schafer', 50000)#, 'Python')
#dev_2 = Developer('Test', 'Employee', 60000, 'Java')

In [36]:
print(dev_1.pay)
dev_1.apply_raise()
print(dev_1.pay)

50000
55000

In [37]:
print(dev_1.email)

Corey.Schafer@email.com

In [ ]:
print(help(Developer))

In [47]:
mgr_1 = Manager('Sue', 'Smith', 90000, [dev_1])

In [41]:
print(mgr_1.email)

Sue.Smith@email.com

In [48]:
mgr_1.add_emp(dev_2)
#mgr_1.remove_emp(dev_1)
mgr_1.print_emps()

--> Corey Schafer
--> Test Employee

In [50]:
print(isinstance(mgr_1,Manager))

True

In [53]:
print(isinstance(mgr_1,Developer))

False

In [55]:
print(issubclass(Manager,Employee))

True

In [56]:
print(issubclass(Manager,Developer))

False